* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    min-height: 100vh;
    color: green;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.build-img {
    background: url("/images/build.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center();
    background-attachment: fixed;
}

.notation-img {
    border: 2px solid red;
    background: url("/images/notation.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center();
    background-attachment: fixed;
}

.store-img {
    background: url("/images/store.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center();
    background-attachment: fixed;
}