* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: red;
}

.banner {
    background: url(/images/build.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header {
    background: linear-gradient(rgba(75, 252, 78, 0.1), rgba(75, 252, 78, 0.1)), url('/images/notation.jpeg') center/cover fixed no-repeat;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}