/* CSS BOX MODEL */


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

h1 {
    background: red;
    /* padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 50px; */
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: aqua;
    border-radius: 20px;
}

p {
    background: blue;
    /* padding: top,bottom,left,right */
    padding: 30px 60px;
    margin-top: 100px;
    /* margin-bottom: 0; */
    border: 15px solid pink;
    border-left: none;
    border-right: none;
    border-radius: 30px;
    ;
}