* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    min-height: 100vh;
    color: green;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.build-img {
    background: url("/images/build.jpeg");
    background-repeat: round;
    background-size: cover;
}

.notation-img {
    border: 2px solid red;
    background: url(/images/notation.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}

.store {
    background: url("/images/store.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}