/* line height 
letter-spacing
word-spacing
text-trnasform
text-decoration */

a {
    font-size: 40px;
    text-decoration: none;
}

body {
    text-transform: uppercase;
}

h1 {
    text-transform: lowercase;
    text-decoration: line-through;
}

.one {
    line-height: 30px;
}

.two {
    letter-spacing: 10px;
    text-decoration: overline;
}

.three {
    word-spacing: 2em;
    line-height: 2em;
    text-decoration: underline;
}