img {
    width: 100px;
    height: 100px;
    position: absolute;
}

.banner {
    margin: 20px;
    width: 30vw;
    height: 70vw;
    border: 5px solid red;
    position: relative;
}

.one {
    top: 0;
    left: 0;
}

.two {
    top: 10%;
    left: 10%;
}

.three {
    top: 20%;
    left: 20%;
}